$titlesize: 35px;
$captionsize: 18px;
$titlecolor: #FFE500;
$blockpadding: 20px;

.tiebacks{
    // border: 2px solid white;
    padding: $blockpadding;

    h1{
        width: 100%;
        text-align: center;
        font-size: $titlesize;
        color: $titlecolor;
    }

    .products{
        // border: 2px solid red;
        margin: auto;
        padding: $blockpadding;
        display: flex;
        flex-wrap: wrap;

        .product{
            display: flex;
            flex-direction: column;
            border: 1px solid white;
            padding: $blockpadding;
            margin: auto;
            margin-bottom: 10px;
            width: 25%;
            
            .productswiper{
                width: 99%;
                margin-right: 10px;
            }

            .productcontent{
                // border: 2px solid lightblue;
                // width: 50%;
                text-align: center;

                h2{
                    font-size: 14px;
                    color: lime;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .tiebacks{

    
        .products{
            display: flex;
            flex-wrap: wrap;
    
            .product{
                width: 100%;
            }
        }
    }
}