$titlesize: 35px;
$captionsize: 18px;
$titlecolor: #FFE500;
$blockpadding: 15px;

.bags{
    padding: $blockpadding;

    h1{
        width: 100%;
        text-align: center;
        font-size: $titlesize;
        color: $titlecolor;
        font-family: "Dancing Script", cursive;
    }

    .products{
        margin: auto;
        padding: $blockpadding;
        display: flex;
        flex-wrap: wrap;

        .product{
            background-color: rgba(255, 255, 255, 0.83);
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border: 1px solid white;
            padding: $blockpadding;
            margin: auto;
            margin-bottom: 10px;
            width: 30%;
            // height: 67vh;
            
            .productswiper{
                width: 63%;
                margin-right: 10px;
                border-radius: 20px;
            }

            .productcontent{
                width: 37%;
                text-align: center;
                text-overflow: ellipsis;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                h2{
                    font-size: 16px;
                    color: black;
                    font-weight: 700;
                }
                h3{
                    font-size: 16px;
                    color: darkorange;
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .bags{

    
        .products{
    
            .product{
                padding: 5px;
                width: 100%;

                .productswiper{
                    width: 50%;
                }
                
                .productcontent{
                    width: 50%;
                    h2{
                        font-size: 11px;
                    }
                    h3{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}